@use "../defaults.scss" as *;
@use 'sass:color';

.home {
    width: 100vw;
    height: 100vh;
    background-color: color.change($color-neutral-800, $alpha: 0.9);
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;
    display: flex;
    flex-direction: column;
}

.container {
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    margin-bottom: 0.5rem;
    overflow: hidden;
    min-height: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    width: calc(100vw - 17.5rem);
    overflow: hidden;
    min-height: 0;
}

.effort {
    min-width: 15rem;
}

.toolbar {
    padding: 4px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


.output {
    height: 100%;
    overflow: hidden;
}

.treemap {
    max-height: 100%;
    max-width: 100%;
    display: block;
    /* Prevents extra space below SVG */
}